.content-about {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-about .content-about-descripcion {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3.125em;
}

.content-about .content-title {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}

.content-about .content-image {
    width: auto;
    display: flex;
    justify-content: end;
}

.about-biografi {
    margin: 150px 0;
    gap: .625rem;
}

.about-description {
    max-width: 800px;
    font-size: 1.5rem;
    text-align: center;
}

.graph-about {
    padding: 0 0;
    display: flex;
    flex-direction: column;
    gap: 190px;
    margin: 150px 0;
}

.graph-about .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem
}


.graph-about .about-content .about-text {
    width: 100%;
    background: #75757521;
    padding: 30px;
    border-radius: 20px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 50px;
}



.graph-about .about-content .about-text .about-icon {
    padding: 20px 30px;
    border-radius: 20px;
    color: #c7c6c6;
    margin: auto;
}

.yellow-icon {
    background: #ff00ff28;
}

.blue-icon {
    background: #ff73008f;
}

.green-icon {
    background: #0026ff21;
}

.blue-100-icon {
    background: #73ff0079;
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 0.7em;
    }

    .content-about {
        background: transparent;
    }

    .about-content .about-text {
        gap: 100px;
    }

    .graph-about .about-content {
        gap: 140px;
    }

    .graph-about .about-content .about-text {
        gap: 25px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 700px) {
    .content-about {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
    }

    .content-about .content-about-descripcion {
        width: 100%;
        margin-right: 0px;
        gap: 10px;
    }

    .content-about .content-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
    }

    .content-about .content-image {
        width: 100%;
        justify-content: center;
    }

    .about-biografi {
        flex-direction: column;
        gap: 50px;
    }

    .graph-about {
        margin: 50px 0;
        gap: 20px;
    }

    .graph-about .about-content {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .graph-about .about-content .about-text {
        flex-direction: column;
        gap: 10px;
    }

    .graph-about .about-content {
        gap: 70px;
    }

    .graph-about .about-content .about-text {
        gap: 25px;
        margin-right: 0px;
    }
}