.contact-content {
    margin: 0 -150px;
}

.contact-presentation {
    width: 70%;
    margin: 100px 0 50px 0;
}

.contact-content .contact-presentation .contactP-title {
    font-size: 70px;
    color: var(--color-white);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: 0.15em solid #1076b9;
    animation: typing 1s steps(11) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.contact-socials {
    width: 100%;
    margin: 50px;
    padding: 150px 0 300px 0;
    height: auto;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 97%);
    background: linear-gradient(
            327.21deg,
            rgba(33, 0, 75, 0.24) 3.65%,
            rgba(60, 0, 136, 0) 40.32%
        ),
        linear-gradient(
            245.93deg,
            rgba(209, 21, 111, 0.16) 0%,
            rgba(209, 25, 80, 0) 36.63%
        ),
        linear-gradient(
            147.6deg,
            rgba(58, 19, 255, 0) 29.79%,
            rgba(98, 19, 255, 0.01) 85.72%
        ),
        #13111c;
}

.contact-socials .card-socials {
    width: 300px;
    height: auto;
    padding: 20px;
}

.contact-socials .card-socials:hover {
    cursor: pointer;
    box-shadow: 0 0 0.9px 0.5px #cf00be;
    border-radius: 10px;
    transition: 0.2s all;
}

.contact-socials .card-socials i {
    font-size: 70px;
    padding: 18px 30px;
}

.card-socials .button-message {
    border: 1px solid #cf00be;
    color: #cf00be;
}

.card-socials .button-message:hover {
    background: #cf00be;
    color: #ffffff;
}

.contact-content .contact-form {
    width: 100%;
    padding: 50px;
    border-radius: 18px;
}

.contact-content .contact-form .form-image {
    width: 60%;
}

.contact-map {
    overflow: hidden;
    width: 100%;
    padding: 200px 0px;
}

.contact-map iframe {
    background: #1076b9;
    padding: 0 2px;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .contact-content {
        margin: 0 -50px;
    }

    .contact-socials {
        margin: 25px;
        padding: 150px 0 300px 0;
    }
}

@media only screen and (max-width: 700px) {
    body {
        padding: 0 1.25rem;
        /*20px*/
    }

    .contact-content {
        margin: 0 -50px;
    }

    .contact-content .contact-form .form-image {
        width: 100%;
    }

    .contact-form {
        padding: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .contact-form form {
        width: 100%;
    }

    .contact-socials {
        margin: 1px;
        padding: 150px 0 300px 0;
    }

    .contact-form .imageForm {
        display: none;
    }

    .contact-form form {
    }
    .contact-map {
        overflow: hidden;
    }
}
